.root {
  -fx-background-color: #99ccff ;
}
.vBox{
    -fx-background-color: #050c0c;
}
.button{
    -fx-background-color: white;
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    }
.tabPane{
    -fx-background-color: #525b56;
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.comboBox{
    -fx-background-color: #525b56;
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
    -fx-text-fill: black;

}

.tab{
-fx-background-color: white;
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    }

.label{
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.listLabel{
    -fx-background-color: #132227;
    -fx-font-size: 13pt;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.columns{
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
}
.table-view {
    -fx-background-color: #525b56;
}
.table-view .column-header .label {
    -fx-background-color: #6b8a82;
    -fx-text-fill: #050c0c;
}
.table-view .column-header, .table-view .filler {
    -fx-border-width: 0 0 0 0;
    -fx-background-color: #132227;
}
.table-row-cell{
    -fx-border-color: #132227;
    -fx-table-cell-border-color: #132227;
}
.table-view .column-header-background{
    -fx-background-color: #6b8a82;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #050c0c;
}

.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .table-cell{
    -fx-text-fill: black;
}
.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #525b56;
}
.table-row-cell:selected {
    -fx-background-color: #858c93;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}


